/* RESET */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Louis George Cafe";
}

:root {
  --black: black;
  --white: #efefef;
  --yellow: #fba120;
  --pink: #cf6176;
  --purple: #7078b9;
  --dark-blue: #201e39;
  --transition: all 0.5s ease;
}

@font-face {
  font-family: "Louis George Cafe";
  src: url("../fonts/Louis-George-Cafe.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Louis George Cafe";
  src: url("../fonts/Louis-George-Cafe-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

*::selection {
  background-color: var(--yellow);
}
body {
  font-weight: bold;
  overflow-x: hidden;
}
section:not(#hero):not(#contact) {
  padding: 100px;
}
section h3 {
  margin-bottom: 60px;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.2em;
}
.galery {
  display: grid;
  width: 100%;
}
.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  filter: grayscale(0.8);
  transition: all 0.5s 0.3s ease;
}
.card img, .card video{
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s 0.2s ease;
  z-index: 1;
}
.card:hover {
  filter: grayscale(0);
  transition: var(--transition);
}
.card:hover img, .card:hover video {
  width: 110%;
  transition: var(--transition);
}
/* header */
header {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: white;
  z-index: 999;
  position: fixed;
  width: 100%;
  padding: 10px 100px;
}
header img {
  width: 80px;
  aspect-ratio: 1;
}
#main-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 60px;
}
#main-nav a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.5em;
}
/* hero */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding-top: 100px;
}
#hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero-title h1 {
  text-transform: uppercase;
}
#hero-title h2 {
  text-transform: uppercase;
}
#hero-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  font-size: 1.5em;
  width: 250px;
  height: 60px;
  border-radius: 999px;
  text-decoration: none;
  color: var(--black);
}
#hero-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero-scroll-anim {
  margin-top: 20px;
  animation: hero-scroll-anim 2s infinite ease-in-out;
}
/* anim icon scroll */
@keyframes hero-scroll-anim {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* creations */
#creations .galery {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
/* a propos */
.about-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
}
.about-case h4 {
  margin-bottom: 10px;
}
.about-case p {
  text-align: justify;
}
.about-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.about-skill {
  display: flex;
  flex: 1 0 48%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.about-skill .img {
  width: 50px;
  min-width: 50px;
  aspect-ratio: 1;
  border-radius: 999px;
}
.about-skill p {
  text-align: start;
  line-height: 13px;
}
.about-img-1 {
  background: var(--yellow);
}
.about-img-2 {
  background: var(--pink);
}
.about-img-3 {
  background: var(--purple);
}
.about-img-4 {
  background: var(--dark-blue);
}
.about-img-5 {
  background: var(--dark-blue);
}
.about-img-6 {
  background: var(--yellow);
}
/* contact */
#contact {
  display: flex;
  flex-direction: column;
  color: var(--white);
}
.contact-container {
  background-color: var(--dark-blue);
  padding: 0 100px;
  display: flex;
  flex-direction: row;
}
.contact-me {
  width: 49%;
}
#contact img{
  width: 102%;
  position: relative;
  left: -5px;
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 90%;
}
#contact form div:not(form-line):not(form-names):not(form-subject) {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
#contact form .form-line {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#contact form input:not(input[type="submit"]),
#contact form textarea,
#contact form select {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 5px;
  outline: none;
  color: var(--white);
  resize: none;
  font-size: 1.3em;
  padding: 5px;
}
#contact form input:not(input[type="submit"]),
#contact form select {
  height: 50px;
}
#contact form textarea {
  min-height: 150px;
}
#contact form option {
  background-color: var(--dark-blue);
}
#contact form input[type="submit"] {
  background-color: var(--pink);
  width: 30%;
  border: none;
  border-radius: 999px;
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
  color: var(--white);
  margin-top: 15px;
  cursor: pointer;
}
.form-alert {
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  text-align: center;
  border-radius: 5px;
}
.form-true {
  background-color: rgba(0, 255, 0, 0.5);
  border: 2px solid rgba(0, 255, 0, 0.541);
}
.form-false {
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid rgba(255, 0, 0, 0.541);
}
#contact .separator {
  border-left: 2px solid var(--white);
}
.my-networks {
  width: 49%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}
#svg-inverse {
  transform: rotate(180deg) translateY(2px);
  z-index: -1;
}
.list-networks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.list-networks a {
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1.4em;
  margin-bottom: 20px;
}
.list-networks a:first-child {
  margin-top: 20px;
}
.list-networks img {
  width: 50px;
  aspect-ratio: 1;
}
.my-networks p {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 30px;
}
/* footer */
footer {
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
footer div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
footer ul {
  list-style: none;
}
footer ul h4 {
  margin-bottom: 20px;
}
footer a {
  text-decoration: none;
  color: var(--black);
}
footer ul li {
  margin-bottom: 10px;
}
footer div:nth-child(2) {
  width: 40%;
}
footer div:nth-child(2) div:first-child a {
  background-color: white;
  border-radius: 999px;
  overflow: hidden;
  width: 70px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div:nth-child(2) img {
  width: 50px;
}
footer div:nth-child(2) div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
footer div:nth-child(2) p:nth-child(2) {
  margin-bottom: 20px;
}
/* page */
/* go home */
#go-home {
  display: flex;
  position: fixed;
  margin: 15px 100px;
  padding: 10px;
  border-radius: 999px;
  gap: 10px;
  text-decoration: none;
  color: var(--black);
  background-color: white;
  z-index: 999;
}
/* presentation */
#presentation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
}
#presentation .card {
  width: 40%;
  filter: grayscale(0);
}
#presentation .card:hover img, #presentation .card:hover video {
  width: 100%;
}
#presentation div:nth-child(2) {
  width: 40%;
}
#presentation-title {
  margin-bottom: 20px;
}
#presentation div:nth-child(2) h1 {
  font-size: 1.7em;
  text-transform: capitalize;
}
#presentation div:nth-child(2) h2 {
  font-size: 1em;
}
#presentation div:nth-child(2) p {
  font-size: 1.1em;
  text-align: justify;
  line-height: 1.4;
}
#presentation div:nth-child(3) {
  display: flex;
  flex-flow: column;
  width: 20%;
  gap: 10px;
}
#presentation div:nth-child(3) a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.3em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px;
}
#presentation div:nth-child(3) img {
  width: 50px;
  border-radius: 999px;
}
/* galery */
#galery .galery {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
/* prev next */
#prev-next {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
}
#prev-next a {
  display: flex;
  flex-flow: row;
  width: 50%;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--black);
}
#prev-next .card {
  width: 30%;
  transition: var(--transition);
}
#prev-next .card img, #prev-next .card video {
  transition: var(--transition);
}
#prev-next-title {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
#prev-next #prev-inverse {
  flex-direction: row-reverse;
  justify-self: end;
}
#prev-inverse #svg {
  transform: rotate(180deg);
}
#prev-inverse #prev-next-title {
  text-align: end;
}
/* footer page */
#svg-footer {
  transform: translateY(15px);
  z-index: -1;
}
#footer-page {
  background-color: var(--dark-blue);
  color: var(--white);
}
#footer-page a {
  color: var(--white);
}
/* admin */
.container {
  padding: 100px 0;
}
/* form add */
.add .section-line {
  display: flex;
  flex-flow: row wrap;
}
.add form {
  display: flex;
  flex-flow: column;
  width: 60%;
  gap: 30px;
}
.add form div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 10px;
}
.add form span {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 10px;
}
.add input,
.add textarea {
  outline: none;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid var(--black);
  resize: vertical;
}
.add input[type="submit"] {
  color: var(--black);
  background-color: var(--yellow);
  width: fit-content;
  padding: 0 20px;
  border: none;
  align-self: center;
  cursor: pointer;
}
.add input[type=file]{
  resize: none;
}
.add p {
  width: 40%;
  padding: 0 0 0 50px;
  text-align: justify;
}
.all .galery {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.all .card {
  filter: grayscale(0);
}
.all .card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 10px;
}
.all .card:hover img, .all .card:hover video{
  opacity: 0.4;
  width: 100%;
  transition: all 0.3s ease;
}
.all .card:hover div {
  z-index: 2;
}
.all .card a {
  text-decoration: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 999px;
  border: none;
  font-size: medium;
  cursor: pointer;
}
.see {
  background-color: rgb(23, 73, 223);
}
.modify {
  background-color: rgb(8, 150, 41);
}
.del-btn {
  background-color: rgb(189, 18, 18);
  border: none;
  border-radius: 999px;
  padding: 5px 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
}
.all ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 30px;
}
.all ul li {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 15px;
}
.all ul li img {
  width: 50px;
  border-radius: 999px;
}
